<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.krisok">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Feedback" />
        <activity android:name=".Dailynote" />
        <activity android:name=".Hospital.Hospital" />
        <activity android:name=".Hospital.Chittagong" />
        <activity android:name=".Hospital.Khulna" />
        <activity android:name=".Hospital.Dhakabivag" />
        <activity android:name=".Hospital.Barisal" />
        <activity android:name=".Hospital.Moymonsinghho" />
        <activity android:name=".Hospital.SyletBivag" />
        <activity android:name=".Hospital.RajshaiBivag" />
        <activity android:name=".Hospital.Rangpur" />
        <activity android:name=".Login" />
        <activity android:name=".Job" />
        <activity android:name=".LoginTwo" />
        <activity android:name=".Tution" />
        <activity android:name=".Call" />
        <activity android:name=".Off" />
        <activity android:name=".Police" />
        <activity android:name=".About" />
        <activity android:name=".Terms" />
        <activity android:name=".Dhakapolice" />
        <activity android:name=".Rajshaipolice"></activity>
    </application>

</manifest>